.menu{
  width: 80%;
  text-align: left;
  position: fixed;
  height: 100vh;
  left: -100%;
  list-style: none;
  transition: 0.5s;
  background-color: yellow;
}
.activeMenu{
  left: 0%;
}
.menu ul li{
  list-style: none;
  padding: 10px 10px;
}

.micon{
  position: absolute;
  right: 10px;
}